{% load like_post %}


{% repislike replyid as isliked %}
{% countLikesrep replyid as likes_count %}

{% if isliked %}
    {% replikedid replyid as replikesid %}
{% endif %}

<form action="{% if not isliked %}{% url 'addlikeonblog' %}{% else %}{% url 'removelikeonblog' %}{% endif %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="replyid" value="{{replyid}}">
    <input type="hidden" name="in" value="{{request.path}}">

    {% if isliked %}
        <input type="hidden" name="replylikeid" value="{{replikesid}}">
    {% endif %}

    {% if not request.user.is_authenticated %}
    <div class="pe-auto">
        {% if not isliked %}
        <i class="fa-regular fa-heart"></i>
        {% else %}
        <i class="fa-solid fa-heart"></i>
        {% endif %}
        <span>{{likes_count}}</span>
    </div>
    {% else %}
    <button type="submit" class="btn btn-danger">
        {% if not isliked %}
        <i class="fa-regular fa-heart"></i>
        {% else %}
        <i class="fa-solid fa-heart"></i>
        {% endif %}
        <span>{{likes_count}}</span>
    </button>
    {% endif %}
</form>